// Color pallette
$dark-green: #2F3938;
$light-green: #6FC499;
$white: #ffffff;
$light-orange: #F79F66;
$red: #D03F58;
$dark-green-95: rgba(47, 57, 56, 0.95);

// Global setters
$primary: $dark-green;
$secondary: $light-green;
$primary-overlay: $dark-green-95;

// Menu button
$dot-color: $white;
$dot-hover: $light-green;
$dot-color-dark: $dark-green;

// Link colors
$hover-bar: $red;


.white-text { color: $white; }
.light-text { color: $light-orange; }
.secondary-text { color: $secondary; }