<main class="content" id="content">
  <section class="portfolio-item-container">
    <article class="portfolio-item">
      <div class="item-image">
        <img src="https://dummyimage.com/450x600/2c332a/fff" alt="">
      </div>
      <div class="item-details">
        <h5 class="count"><span class="secondary-text">01</span>/04</h5>
        <div class="line-break"></div>
        <h2 class="item-title">Portfolio Item</h2>
        <span class="item-type">Web</span>
        <p class="item-excerpt">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
        <a href="" class="animsition-link hover-effect"><h6 class="accent-text">View Project</h6></a>
      </div>
    </article>
    <article class="portfolio-item">
      <div class="item-image">
        <img src="https://dummyimage.com/450x600/2c332a/fff" alt="">
      </div>
      <div class="item-details">
        <h5 class="count"><span class="secondary-text">01</span>/04</h5>
        <div class="line-break"></div>
        <h2 class="item-title">Portfolio Item</h2>
        <span class="item-type">Web</span>
        <p class="item-excerpt">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
        <a href="" class="animsition-link hover-effect"><h6 class="accent-text">View Project</h6></a>
      </div>
    </article>
    <article class="portfolio-item">
      <div class="item-image">
        <img src="https://dummyimage.com/450x600/2c332a/fff" alt="">
      </div>
      <div class="item-details">
        <h5 class="count"><span class="secondary-text">01</span>/04</h5>
        <div class="line-break"></div>
        <h2 class="item-title">Portfolio Item</h2>
        <span class="item-type">Web</span>
        <p class="item-excerpt">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
        <a href="" class="animsition-link hover-effect"><h6 class="accent-text">View Project</h6></a>
      </div>
    </article>
  </section>
</main>