<header id="header">
  <a href="<%- url_for() %>" id="logo">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 56.54 25.24" class="logo-svg">
      <title>TY</title>
      <path d="M24.81 25.24H17.9V13.57H7.67L0 0h7.94l3.77 6.66h13.1v18.58zM31.73 25.24h6.91V13.57h10.23L56.54 0h-7.95l-3.76 6.66h-13.1v18.58z"/>
    </svg>
  </a>
  <button class="menu">
    <div class="row">
      <div class="circle"></div>
      <div class="circle dot"></div>
      <div class="circle"></div>
    </div>
    <div class="row">
      <div class="circle dot"></div>
      <div class="circle"></div>
      <div class="circle dot"></div>
    </div>
    <div class="row">
      <div class="circle"></div>
      <div class="circle dot"></div>
      <div class="circle"></div>
    </div>
  </button>
</header>

<nav>
  <div class="menu">
    <ul>
      <li class="nav-header"><h5 class="white-text">Select Project</h5></li>
      <li><a href="" class="hover-effect"><h2 class="light-text">Burt's Bees</h2></a></li>
      <li><a href="" class="hover-effect"><h2 class="light-text">Mentor Graphics</h2></a></li>
      <li><a href="" class="hover-effect"><h2 class="light-text">The New Primal</h2></a></li>
      <li><a href="" class="hover-effect"><h2 class="light-text">Big Green Egg</h2></a></li>
    </ul>
  </div>
  <div class="nav-bottom">
    <div class="submenu">
      <div class="about-resume">
        <a href="" class="hover-effect"><h6 class="white-text">About</h6></a>
        <a href="" class="hover-effect"><h6 class="white-text">Resume</h6></a>
      </div>
      <a href=""><h6 class="secondary-text">topher@hellotopher.com</h6></a>
    </div>
    <div class="social">
      <a href="" class="hover-effect"><img src="/images/linkedin.svg" alt="Facebook for Professionals"></a>
      <a href="" class="hover-effect"><img src="/images/dribbble.svg" alt="Dribbbbbbble"></a>
      <a href="" class="hover-effect"><img src="/images/github.svg" alt="Code n such"></a>
    </div>
  </div>
</nav>