@media (min-width: 426px) {}
@media (min-width: 769px) {}

header {
  position: fixed;
  top: 20px;
  right: 20px;
  left: 20px;
  padding: 15px;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: space-between;
  #logo {
    .logo-svg {
      height: 25px;
      width: auto;
      path {
        fill: $white;
      }
    }
    &.dark {
      .logo-svg {
        path { fill: $primary; }
      }
    }
  }
  .menu {
    padding: 5px;
    background: transparent;
    border: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .circle {
      height: 4px;
      width: 4px;
      margin: 0 2px;
      background-color: $dot-color;
      border-radius: 50%;
      display: inline-block;
      transition: all 100ms ease-in;
    }
    .row {
      height: 4px;
      display: flex;
      padding: 2px 0;
      flex-direction: row;
      margin: 0;
      position: relative;
    }
    &:hover {
      cursor: pointer;
      .circle {
        transition: all 100ms ease-in;
        background-color: $dot-hover;
      }
    }
    &.close {
      .dot {
        opacity: 0.2;
        background-color: $dot-hover;
        transition: all 200ms ease-in;
      }
    }
    &:focus {
      outline: none;
    }
    &.dark {
      .circle { background-color: $dot-color-dark; }
      &:hover {
        .circle { background-color: $dot-hover; }
      }
      &.close {
        .dot { background-color: $dot-hover; }
      }
    }
  }
}

nav {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: $primary-overlay;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 98;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0s 0.5s;
  .menu {
    perspective: 1200px;
  }
  ul {
    padding: 0;
    list-style: none;
    text-align: center;
    opacity: 0.4;
    transform: translateY(-25%) rotateX(25deg);
    transition: transform 0.5s, opacity 0.5s;
    .nav-header { padding-bottom: 30px; }
    li {
      a {
        &:before {
          height: 15px;
          background: $hover-bar;
          top: 28px;
        }
        &:hover {
          &:before {
            height: 15px;
            top: 28px;
          }
        }
      }
    }
  }
  .nav-bottom {
    position: absolute;
    bottom: 40px;
    right: 40px;
    left: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    @media (min-width: 426px) {
      lign-items: flex-end;
      justify-content: space-between;
      flex-direction: row;
    }
    .submenu {
      padding-bottom: 10px;
      @media (min-width: 426px) {
        padding-bottom: 0;
      }
      .about-resume {
        text-align: center;
        padding-bottom: 10px;
        @media (min-width: 426px) {
          text-align: left;
          padding-bottom: 15px;
        }
        a {
          padding-right: 5px;
          &:before {
            height: 5px;
            top: 7px;
            background: $hover-bar;
          }
          &:hover {
            &:before {
              height: 5px;
              top: 7px;
            }
          }
          &:first-child {
           margin-right: 15px;
          }
        }
      }
    }
    .social {
      a {
        margin-right: 5px;
        padding-right: 10px;
        &:last-child {
          margin-right: 0;
        }
        &:before {
          height: 15px;
          background: $hover-bar;
          top: 6px;
        }
        &:hover {
          &:before {
            height: 15px;
            top: 6px;
          }
        }
      }
      .social-icon {
        height: 25px;
        width: 25px;
        fill: $white;
      }
    }
  }
  &.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s;
    ul {
      opacity: 1;
      transform: rotateX(0deg);
    }
  }
}