html {
  //background: $secondary url('../../images/bg-pattern.png') repeat fixed top center;
}
//:root {
//  background: url('../../images/bg-pattern.png') repeat fixed top center;
//}

body {
  background: $secondary;
  margin: 0;
  padding: 0;
}

.page-frame {
  // border: 20px solid $secondary;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: transparent;
  z-index: 1;
}